<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Header.css" />
  </head>
  <body>
    <header class="header">
      <div class="input-div">
        <div class="search">⌕</div>
        <input type="text" placeholder="Search Document..." class="textArea" />
      </div>
      <div class="div-botton">
        <div class="alert">🕭</div>
        <div>
          <img
            src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?semt=ais_hybrid&w=740&q=80"
            alt=""
            class="profile"
            loading="lazy"
          />
        </div>
      </div>
    </header>
  </body>
</html>
