@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk&display=swap");

/* Base styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 20px;
}

.main-section {
  margin: 0 auto;
  margin: 280px; /* Offset for sidebar */
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #f5f5f5;
}

h1,
h4,
h6,
p {
  margin: 8px 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout sections */
.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.summary-section,
.actions-grid,
.documents-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.summary-card,
.action-card,
.doc-card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.summary-header,
.doc-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-growth,
.complete {
  color: green;
  font-weight: bold;
}

.doc-info-p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.more-options {
  cursor: pointer;
  font-size: 18px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .summary-section,
  .actions-grid,
  .documents-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .welcome-section {
    margin-top: 19px;
  }
  .main-section {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 280px;
    padding: 24px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #f5f5f5;
  }

  .summary-section,
  .documents-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .actions-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .summary-card,
  .action-card,
  .doc-card {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  .action-card img {
    max-width: 60px;
    height: auto;
  }
  .action-card {
    gap: 8px;
  }
}
