<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Dashboard</title>
    <link rel="stylesheet" href="../Dashboard/dashboard.css" />
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="../Header/Header.css" />
    <link rel="stylesheet" href="Settings.css" />
  </head>
  <body>
    <!-- Navbar Header -->
    <div class="wrapper">
      <div id="navbar-placeholder"></div>

      <section class="main-section">
        <header id="Injecting-header" class="content-header"></header>

        <main class="dashboard-container">
          <!-- Welcome -->
          <section class="welcome-section">
            <div class="welcome-text">
              <h1>Settings</h1>
              <p>Manage your account preferences and privacy setting</p>
            </div>
            <div class="welcome-search">
              <div class="input-div">
                <div class="search">⌕</div>
                <input
                  type="text"
                  placeholder="Search Document..."
                  class="textArea"
                />
              </div>
            </div>
          </section>

          <!-- Buttons -->
          <div class="button-section">
            <button class="btn-back">Back to Profile</button>
            <button class="btn-save">Save</button>
          </div>

          <!-- Grid -->
          <section class="settings-grid">
            <!-- Item 1 - Notifications -->
            <div class="card card-notifications">
              <!-- Header -->
              <div class="card-header">
                <span class="card-icon">O</span>
                <p>Notification</p>
              </div>
              <p class="card-p">
                Choose what notifications you'd like to receive
              </p>

              <!-- Content -->
              <div class="card-main-section notification">
                <!-- Notification Options -->
                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <div>
                    <label class="switch">
                      <input type="checkbox" name="" id="toggle" />
                      <span class="slider"></span
                    ></label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item 2 - Preferences -->
            <div class="card card-preferences">
              <!-- Header -->
              <div class="card-header">
                <span class="card-icon">O</span>
                <p>Preferences</p>
              </div>
              <p class="card-p">Customize your ResuMagic experience</p>

              <!-- Content -->
              <div class="card-main-section preferences">
                <div class="card-list">
                  <div>
                    <h6>Theme</h6>
                    <p>Choose your preferred color theme</p>
                  </div>
                  <div>
                    <div>
                     <select name="" id="selector">
                      <option value="">White</option>
                      <option value="">Dark</option>
                      <option value="">System</option>
                     </select>
                  </div>
                  </div>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Theme</h6>
                    <p>Choose your preferred color theme</p>
                  </div>
                  <div>
                     <select name="" id="selector">
                      <option value="">White</option>
                      <option value="">Dark</option>
                      <option value="">System</option>
                     </select>
                  </div>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <div> <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label></button></div>
                </div>
              </div>
            </div>

            <!-- Item 3 - Account Actions -->
            <div class="card card-account-actions">
              <!-- Header -->
              <div class="card-header">
                <span class="card-icon">O</span>
                <p>Account Actions</p>
              </div>
              <div class="card-buttons">
                <button><span></span>Export My Data</button>
                <button>Change Paswword</button>
                <button>Two-Factor Authentication</button>
              </div>
            </div>

            <!-- Item 4 - Additional Preferences -->
            <div class="card card-additional-preferences">
              <!-- Header -->
              <div class="card-header">
                <span class="card-icon">O</span>
                <p>Preferences</p>
              </div>
              <p class="card-p">Customize your ResuMagic experience</p>

              <!-- Content -->
              <div class="card-main-section preferences">
                <div class="card-list">
                  <div>
                    <h6>Theme</h6>
                    <p>Choose your preferred color theme</p>
                  </div>
                  <div>
                     <div>
                     <select name="" id="selector">
                      <option value="">White</option>
                      <option value="">Dark</option>
                      <option value="">System</option>
                     </select>
                  </div>
                  </div>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <div> <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label></div>
                </div>

                <div class="card-list">
                  <div>
                    <h6>Documents Remainder</h6>
                    <p>Get reminded to update your documents regularly</p>
                  </div>
                  <div> <label class="switch">
                    <input type="checkbox" name="" id="toggle" />
                    <span class="slider"></span
                  ></label></div>
                </div>
              </div>
            </div>

            <!-- Item 5 - Account Actions -->
            <div class="card need-help">
              <!-- Header -->
              <div class="card-header">
                <span class="card-icon">O</span>
                <p>Need Help?</p>
              </div>
              <div class="card-buttons">
                <button><span></span>Contact Support</button>
                <button>View Documentation</button>
                <button>Report a Bug</button>
              </div>
            </div>

            <!-- Item 6 - Account Actions -->
            <div class="card need-help Danger">
              <!-- Header -->
              <div class="card-header">
                <p>Danger Zone</p>
                <p>Irreversible and destructive actions</p>
              </div>
              <div class="card-buttons del-button ">
                <button id="delete"><span></span>Delete My Data</button>
                <p>
                  This will permanently delete your account and all associated
                  data.
                </p>
              </div>
            </div>
          </section>
        </main>
      </section>
    </div>

    <!-- JavaScript->navbar -->
    <script src="../Dashboard//dashboard.js"></script>
  </body>
</html>
