@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk&display=swap");

/* Base styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
  margin-left: 260px; /* Sidebar width */
  padding: 24px 20px;
  background-color: white;
}

.resume-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resume-header-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resume-intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: #667185;
}

.resume-title {
  font-size: 24px;
  font-family: "Space Grotesk", sans-serif;
  color: #101928;
}

.resume-description {
  font-size: 14px;
  color: #667185;
}

/* Buttons */
.resume-buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.btn-save-draft,
.btn-preview {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #667185;
  border: 1.5px solid #667185;
  border-radius: 8px;
  background-color: transparent;
}

.btn-export {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: white;
  border: 1.5px solid #667185;
  border-radius: 8px;
  background-color: #14a800;
}

.btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.btn-text {
  font-size: 14px;
}

/* Progress steps */
.resume-progress {
  display: flex;
  gap: 12px;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cycle {
  width: 40px;
  height: 40px;
  background-color: #14a800;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-divider {
  width: 117px;
  height: 2px;
  border: 1px solid #14a800;
}

/* Personal Info */
.personal-info-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section-title {
  font-size: 18px;
  color: #101928;
}

.section-description {
  font-size: 14px;
  color: #667185;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 8px 6px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-left: 6px solid #14a800;
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  color: #98a2b3;
}

/* Summary Section */
.professional-summary-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.summary-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  padding: 8px 0;
}

.summary-description {
  font-size: 14px;
  color: #667185;
}

.summary-textarea {
  width: 100%;
  resize: vertical;
  padding: 8px 6px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
}

textarea:focus {
  border-left: 6px solid #14a800;
  transition: all 0.2s ease-in-out;
}

textarea::placeholder {
  color: #98a2b3;
}

/* AI Generate Button */
.btn-ai-generate {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: white;
  border: 1.5px solid #667185;
  border-radius: 8px;
  background-color: #14a800;
  width: fit-content;
}

/* Next Button */
.next-button-container {
  display: flex;
  width: 100%;
}

.btn-next {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  color: white;
  border: 1.5px solid #667185;
  border-radius: 8px;
  background-color: #14a800;
  width: 100%;
  justify-content: center;
  text-align: center;
}

/* Responsive Layouts */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .input-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}
