<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Dashboard</title>
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="../Header/Header.css" />
    <link rel="stylesheet" href="./Template.css" />
  </head>
  <body>
    <!-- Navbar Header -->
    <div class="wrapper">
      <div id="navbar-placeholder"></div>

      <section class="main-section">
        <header id="Injecting-header" class="content-header"></header>

        <main class="dashboard-container">
          <!-- Welcome -->
          <section class="welcome-section">
            <h1>Welcome back, John!</h1>
            <p>Ready to create your next professional document?</p>
          </section>

          <!-- Summary -->
          <section></section>
          <!-- Steps Indicator -->
          <div class="resume-progress">
            <div class="step step-1">
              <div class="cycle">1</div>
              <hr class="step-divider" />
            </div>
            <div class="step step-2">
              <div class="cycle">2</div>
              <hr class="step-divider" />
            </div>
            <div class="step step-3">
              <div class="cycle">3</div>
              <hr class="step-divider" />
            </div>
            <div class="step step-4">
              <div class="cycle">4</div>
            </div>
          </div>
          <!-- card Modern Professional -->
          <div>
            <div>
              <p>Modern professional</p>
              <span>Popular</span>
            </div>
            <p>
              Clean, contemporary design perfect for tech and creative roles
            </p>
            <div><img src="" alt="" /></div>
            <div>
              <button></button>
            </div>
          </div>
          <div>
            <button><span></span>Previous</button>
            <button>Select <span></span></button>
          </div>
          <div>
            <span></span>
            <p><span>Rating</span></p>
          </div>
        </main>
      </section>
    </div>

    <!-- JavaScript->navbar -->
    <script src="../Dashboard/dashboard.js"></script>
  </body>
</html>
