<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="main-header">
        <div class="top-div">
          <img src="../../icons/logo.svg" alt="Logo" class="logo" />

          <ul class="nav-item">
            <li class="nav-items">
              <img src="../../icons/message.svg" alt="Dashboard Icon" />
              <a href="../Dashboard/dashboard.html">Dashboard</a>
            </li>
            <li class="nav-items">
              <img src="../../icons/message.svg" alt="Resume Builder Icon" />
              <a href="../Resume Builder/resumeBuilder.html">Resume Builder</a>
            </li>
            <li class="nav-items">
              <img src="../../icons/message.svg" alt="Cover Letter Icon" />
              <a href="../../Component/Cover Letter/CoverLetter.html"
                >Cover Letter</a
              >
            </li>
            <li class="nav-items">
              <img src="../../icons/message.svg" alt="Templates Icon" />
              <a href="#">Templates</a>
            </li>
            <li class="nav-items">
              <img src="../../icons/message.svg" alt="My Account Icon" />
              <a href="../Profile/profile.html">My Account</a>
            </li>
          </ul>
        </div>

        <div class="last-item">
          <button class="setting">
            <img src="../../icons/settings.svg" alt="Settings Icon" />
            <a href="../Settings/Settings.html">Settings</a>
          </button>
          <div>
            <img src="../../icons/user-circle.svg" alt="User Icon" />
            <p class="user">
              <span>David Fayemi</span>
              <span>David@gmail.com</span>
            </p>
            <span>➜</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
